python==2.7
cycler==0.10.0
Cython==0.29
easydict==1.8
h5py==2.8.0
joblib==0.9.4
lmdb==0.92
matplotlib==1.5.1
numpy==1.11.3
Pillow==2.9.0
protobuf==3.6.1
scikit-image==0.12.3
scikit-learn==0.18
scipy==1.1.0
boost